<!DOCTYPE html>
<html lang="<%= locals.htmlLang %>">

<head>
  <%- include('partials/head') -%>
</head>

<body>
  <%- include('partials/disclaimer') -%>
  <%- include('partials/menu') -%>
  <%- include('partials/hamburger-menu') -%>
  <div id="page-wrapper">
    <section id="main" class="wrapper">
      <div class="inner privacy-policy">
        <h1><%= __("Privacy Policy") %></h1>
        <p class="subtitle">Welke gegevens slaan we op en waarom?</p>
        <h3>Geslacht</h3>
        <p>We vragen om het biologisch geslacht dat bij geboorte is vastgesteld om inzicht te krijgen in de verdeling tussen mannen en vrouwen zodat kan worden onderzocht of dit invloed heeft</p>
        <h3>Leeftijdsgroep</h3>
        <p>We slaan leeftijdsgroepen op om inzicht te krijgen in de verdeling zodat kan worden onderzocht of dit invloed heeft.</p>
        <h3>Postcode</h3>
        <p>
          We slaan de 4 positie postcode van de inzendingen op om inzicht te krijgen in geografische verbanden. Met deze gegevens kunnen ook demografische verbanden
          worden gezocht door de informatie op deze website te combineren met informatie van bijv. het Centraal Bureau van de Statistiek (CBS) dat ook differentieert 
          op 4 positie postcode. Op deze manier voorkomen we dat personen te herleiden zijn op basis van adres maar kunnen we toch in voldoende detail informatie geven.
        </p>
        <h3>Geïnfecteerd/getest</h3>
        <p>
          We slaan op of mensen aangeven te zijn getest of te zijn geïnfecteerden. Deze informatie gebruiken we
          om voor de kaarten, grafieken en overzichten percentages te kunnen tonen.
        </p>
        <h3>Ziektebeeld</h3>
        <p>
          De symptomen die u indient, helpen ons inzicht te krijgen in  Covid-19-virus. De timing van wanneer
          de symptomen begonnen,
          geeft ook een indicatie van hoe lang u al besmettelijk bent. We verzamelen deze gegevens en visualiseren deze
          anoniem.
          Op deze manier kan het publiek inzicht krijgen in hoe groot de cijfers kunnen zijn.
        </p>
        <h2>Cookies</h2>
        <p>
          We gebruiken cookies om gegevens van deelnemers op te slaan in hun eigen browser. Wij vragen hiervoor eerst
          toestemming.
          Met deze cookies kunnen deelnemers anoniem laten weten als hun klachten zijn afgenomen.
        </p>
        <h2>Gegevens verwijderen</h2>
        <p>Alle opgeslagen gegevens zijn geanonimiseerd en we slaan geen persoonlijke gegevens op die kunnen worden
          verwijderd.</p>
        <h2>Gegevens delen met RIVM</h2>
        <p>Desgewenst verstrekken wij anonieme gegevens aan het Rijksinstituut voor Volksgezondheid en Milieu.</p>
        <h2>Analytics</h2>
        <p>
          We gebruiken analytics om inzicht te krijgen in het gebruik van de website. We gebruiken daarvoor <a
            href="https://simpleanaltyics.io" target="_blank">Simple Analytics</a>
          - een partij die geen persoonsgegevens op slaat en geen cookies plaatst.</p>
        <h2>Vraag je je iets af?</h2>
        <p>Neem contact op via Twitter: <a href="https://twitter.com/coronastatusNL"
            target="_blank">@coronastatusNL</a>.</p>
      </div>
    </section>
  </div>
  <script>
    // Remove query params from url
    if (window.history.replaceState) {
      window.history.replaceState({}, document.title, window.location.pathname);
    }
  </script>
  <script src="/static/hamburger-menu.js?v=<%= locals.cacheKey %>"></script>
</body>

</html>
